
a
{
 position: relative;
 border: 3px solid gray;
 border-radius: 25PX;
 text-align: center;
 font-weight: 200;
 font-size: 120px;
 margin: 150px;
 padding: 3px;


 
}
.call
{
     width: 10%;
      
}